$title-black: #2F2F2F;
$bg-black: #1D1D1D;
$blue: #24344D;
$pink: #FFDEDE;
$brand-color: $blue;
$border-radius: 0px;

@import 
    '_reboot', 
    '_grid',
    '_header';

html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    color: #000;
    font-family: 'Quicksand', sans-serif;
    word-wrap: break-word;
    letter-spacing: .03em; // Tracking 30
}
a {
    color: $brand-color;
    text-decoration: none;
    &:hover, &:focus {
        color: darken($color: $brand-color, $amount: 10);
        text-decoration: underline;
    }
}
h1, h2, h3, h4, h5, .huge-text, .big-text {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    letter-spacing: 0;
}
h1, h2, h3, h4, h5, p {
    margin: 1.5rem 0;
}
h1, h2, .huge-text, .big-text {
    color: $title-black;
}
h1, .huge-text {
    font-size: 2.1rem;
    line-height: 1.15;
}
h2, .big-text {
    font-size: 2rem;
    line-height: 1.15;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.3rem;
}
h5 {
    font-size: 1rem;
    line-height: 1.5;
}
hr {
    border: 0;
    border-top: 1px solid #dedede;
}
blockquote {
    border-left: solid 5px $brand-color;
    padding-left: 1rem;
}
b, strong {
    font-weight: 700;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    position: relative;
}
.mb-0 {
    margin-bottom: -1.5rem!important;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.lead {
    font-size: 1.25em;
}
.container {
    max-width: 960px;
}
.bg-black {
    background-color: $bg-black;
    color: #fff;
    .h2, .huge-text, .big-text {
        color: #fff;
    }
}
.bg-gradient-blue {
    background: linear-gradient(to bottom, rgba( $blue, 0 ) 0%,rgba( $blue, 0 ) 130px,rgba( $blue, 1 ) 130px,rgba( $blue, 1 ) 100%);
    color: #fff;
}
.has-color-pink {
    color: $pink!important;
}
.text-center {
    text-align: center;
}
.nav-item {
    font-size: .8rem;
    padding: .25rem .5rem;
    letter-spacing: 0;
    border-radius: 100px;
    border: solid 2px $blue;
    font-family: 'DM Serif Display', serif;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        background: $blue;
        color: #fff;
    }
}
.page-header {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: #fff;
    > .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.scroll-icon {
    position: absolute;
    display: block;
    bottom: 4rem;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
    transform-origin: center;
    &:before {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        background: $blue;
        border-radius: 150px;
        z-index: -1;
        animation-name: zoom;
        animation-timing-function: ease-in-out;
        animation-duration: 2s;
        animation-iteration-count: 10;
    }
    &:after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/img/icon-mouse.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40% 40%;
    }
}
@keyframes zoom {
    0% { transform: scale(1) translateX(-50%) translateZ(-1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.subtitle {
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 0.03em; // Tracking 30
    strong {
        display: block;
    }
}
.photo-section {
    min-height: 100vh;
    background: transparent;
    color: #fff;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 2rem 0 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .h2, .huge-text, .big-text {
        color: #fff;
    }
    &-1 .bg {
        background-image: url('../assets/img/VastuullisuusTarinat_21.jpg');
        background-position: center 30%;
    }
    &-2 > .container-fluid {
        z-index: 1;
    }
    &-2 .bg {
        background-image: url('../assets/img/NM_Turku_telakka_7935_ORIGINAL.jpg');
        background-position: 75% center;
    }
    &-3 .bg {
        background-image: url('../assets/img/VastuullisuusTarinat_15.jpg');
    }
}
.has-fade-top:after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
.has-fade-bottom:before {
    content:"";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    background: linear-gradient(to top, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
}
.content-section {
    padding: 2rem 0;
    &.content-section-3 {
        padding-top: 0;
    }
}
.contact-section {
    font-size: .8rem;
    .profile-header {
        min-height: 66px;
    }
    .col-6:nth-child(3) .profile-header,
    .col-6:nth-child(4) .profile-header {
        min-height: 76px;
    }
    .subtitle {
        font-size: .8rem;
    }
    p:not(.subtitle) {
        hyphens: auto;
    }
}
.footer-logo {
    margin: 2rem 0;
}
.site-footer {
    background: $bg-black;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    border-top: solid 1px #707070;
}

/* Scroll indicator */
.progress-container {
    width: 100%;
    height: 7px;
    background: $pink;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 11;
    .progress-bar {
        height: 7px;
        background: $blue;
        width: 0%;
        display: block;
    }
}



@media (min-width: 576px){
    h1, .huge-text {
        font-size: 3rem;
    }
    h2, .big-text {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    .bg-gradient-blue {
        background: linear-gradient(to bottom, rgba( $blue, 0 ) 0%,rgba( $blue, 0 ) 293px,rgba( $blue, 1 ) 293px,rgba( $blue, 1 ) 100%);
    }
    .nav-item {
        font-size: .9rem;
        padding: .5rem 1rem;
    }
    .subtitle {
        font-size: 1rem;
        letter-spacing: 0.05em; // Tracking 50
        strong {
            display: inline;
        }
    }
    .content-section {
        padding: 4rem 0;
    }
    .contact-section {
        .profile-header,
        .col-6:nth-child(3) .profile-header,
        .col-6:nth-child(4) .profile-header {
            min-height: 55px;
        }
    }
}

@media (min-width: 768px){
    .progress-container,
    .progress-container .progress-bar {
        height: 14px;
    }
    .scroll-icon {
        width: 70px;
        height: 70px;
        bottom: 2rem;
    }
    .content-section {
        padding: 6rem 0;
        &-6 {
            padding-bottom: 8rem;
        }
    }
    .bg-gradient-blue {
        background: linear-gradient(to bottom, rgba( $blue, 0 ) 0%,rgba( $blue, 0 ) 260px,rgba( $blue, 1 ) 260px,rgba( $blue, 1 ) 100%);
    }
    .footer-logo {
        position: absolute;
        bottom: 0;
        right: 3rem;
    }
    .contact-section {
        .profile-header,
        .col-6:nth-child(3) .profile-header,
        .col-6:nth-child(4) .profile-header {
            min-height: 90px;
        }
        p:not(.subtitle) {
            hyphens: none;
        }
    }
}

@media (min-width: 992px){
    html {
        font-size: 18px;
    }
    h1, .huge-text {
        font-size: 4rem;
    }
    h2, .big-text {
        font-size: 3rem;
    }
    .scroll-icon {
        width: 80px;
        height: 80px;
    }
    .photo-section .container-fluid {
        width: 90%;
        margin: 0 auto;
    }
    .content-section-1 {
        padding: 8rem 0;
        h2 {
            margin-bottom: 3rem;
        }
    }
    .contact-section {
        .profile-header,
        .col-6:nth-child(3) .profile-header,
        .col-6:nth-child(4) .profile-header {
            min-height: 122px;
        }
    }
}

@media (min-width: 1200px){
    html {
        font-size: 18px;
    }
    h1, .huge-text {
        font-size: 4.25rem;
    }
    .contact-section .container {
        max-width: 1140px;
    }
    .bg-gradient-blue {
        background: linear-gradient(to bottom, rgba( $blue, 0 ) 0%,rgba( $blue, 0 ) 293px,rgba( $blue, 1 ) 293px,rgba( $blue, 1 ) 100%);
    }
    .contact-section {
        .profile-header,
        .col-6:nth-child(3) .profile-header,
        .col-6:nth-child(4) .profile-header {
            min-height: 101px;
        }
    }
}